extend layout
block extra_head
  link(rel='stylesheet', href='/static/css/dropzone.css')
  link(rel='stylesheet', href='/static/css/basic.css')
  script(src='/static/js/dropzone.min.js')
block content
  form(action="/grab", method="post", enctype="multipart/form-data",  class="dropzone clickable")
block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.